---
layout: default
nav-active: blog
---
<div class="container" id="frontpage">
    {% for post in paginator.posts %}
        {% include frontpage-item.html post=post %}
    {% endfor %}
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            {% if paginator.previous_page %}
            <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path }}" aria-label="Previous">&laquo;</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" aria-label="Previous">&laquo;</a></li>
            {% endif %}
            {% capture page_offset %}{{ paginator.page | minus:5  }}{% endcapture %}
                {% for page in (1..paginator.total_pages) limit:9 offset:page_offset %}
                    {% if page == paginator.page %}
                    <li class="page-item active"><a class="page-link" >{{ page }}</a></li>
                    {% elsif page == 1 %}
                    <li class="page-item"><a class="page-link" href="/">1</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="{{ site.paginate_path | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                    {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
            <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path }}" aria-label="Next">&raquo;</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" aria-label="Next">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- TODO: Pagination -->
</div>