<div class="frontpage-item">
    {% if include.post.img-big %}
    <img src="{{ include.post.img-big}}"/>
    {% endif %}
    <div class="container">
        <div class="frontpage-caption">
            <div class="frontpage-title item-bg">
                <h2>{{ include.post.title }}</h2>
            </div>

            <div class="frontpage-blurb item-bg">
                <p>
                    {{ include.post.excerpt }}
                </p>
                <span class="continue"><a href="{{ include.post.url }}">&raquo; Continue Reading</a></span>
            </div>
        </div>
    </div>
</div>
<div class="frontpage-divider"></div>