@import "bootstrap/variables";
@import "bootstrap/mixins/breakpoints";

// Custom theming and layouts for zephire.nz

$highlightColor      : #a94442;
$darkHighlightColor  : #722e2d;
$greyColor           : #e3e3e3;
$whiteColor          : #ffffff;

// COMMON

html, body {
  height:100%;
}

body {
  padding-top: 3.5rem;
  background-color: $greyColor;
}

a {
  &:hover, &:active, &:focus, &:visited {
    color: $darkHighlightColor;
  }
  color: $highlightColor;
}



// NAV

@include media-breakpoint-down(xs) {
  nav > .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Nav Theme
.navbar-custom {
  background-color: $highlightColor;
  border-bottom: 2px solid $darkHighlightColor;

  .navbar-brand {
    color: $whiteColor;
  }

  .navbar-toggler {
    color: $greyColor;
    border-color: $darkHighlightColor;
    height: 1.75em;
    float: right;
    &:hover, &:focus {
      color: $whiteColor;
      background-color: $darkHighlightColor;
    }
  }

  .dropdown.active {
    > a, > a:hover, > a:focus {
      color: $whiteColor;
    }
  }

  .nav-link {
    color: $greyColor;
    &.active, &:hover,  &:focus {
      color: $whiteColor;
    }
  }

  .open {
      > a, > a:hover, > a:focus {
        color: $whiteColor;
      }
    }
}

// FRONTPAGE

//#frontpage {
//  background-color: #e7e7e7;
//}

//@include media-breakpoint-up(sm) {
//  #frontpage {
//    box-shadow: 0px 0px 20px 5px rgba(50, 50, 50, 0.75);
//    height: 100%;
//  }
//}

.frontpage-item {
    border-bottom: thin dotted $darkHighlightColor;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &:last-of-type {
        border-bottom: none;
    }
}

.page-link {
  &, &:hover, &:focus {
    color: $highlightColor;
  }
}

.page-item.active .page-link {
  &, &:hover, &:focus {
    color: $greyColor;
    background-color: $highlightColor;
    border-color: $highlightColor;
  }
}

// ARTICLES

#post {
  margin-top: 2em;
}

#post-header {
  background-color: $highlightColor;
  color: $whiteColor;

  #post-title {
    padding: 1em;
  }
}

#post-content {
  padding: 1em;
  overflow-x: scroll;
}


// ABOUT

#about-blurb {
  margin-top: 1rem;
}

@include media-breakpoint-up(sm) {
  #about-blurb {
    border-left: thin dotted $darkHighlightColor;
  }
}

@include media-breakpoint-down(xs) {
  #about-blurb {
    border-top: thin dotted $darkHighlightColor;
    margin-top: 0.6rem;
    padding-top: 0.6rem;
  }
}

// About page
img#about-portrait {
  padding: 10%;
}

a#about-cv {
  color: $whiteColor;
  background-color: $highlightColor;
  border-color: $highlightColor;
  &:hover, &:focus {
    background-color: $darkHighlightColor;
    border-color: $darkHighlightColor;
  }
}


// PROJECTS

#soon-wrench {
  vertical-align: middle;
  text-align: center;
  font-size: 12rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#soon-text {
  vertical-align: middle;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

// ARCHIVE


