@use "@material/theme" with (
  $primary: #a94442,
  $secondary: #795548,
  $on-primary: #fff,
  $on-secondary: #fff,
);

@use "@material/typography";

@include typography.core-styles;

$zeph-primary: #a94442;
$zeph-primary-light: lighten($zeph-primary, 15%);
$zeph-primary-dark: darken($zeph-primary, 15%);
$zeph-secondary: #795548;
$zeph-secondary-light: lighten($zeph-secondary, 15%);
$zeph-secondary-dark: darken($zeph-secondary, 15%);


:host {
  /* theme */
  --zeph-primary: #{$zeph-primary};
  --zeph-primary-light: #{$zeph-primary-light};
  --zeph-primary-dark: #{$zeph-primary-dark};
  --zeph-secondary: #{$zeph-secondary};
  --zeph-secondary-light: #{$zeph-secondary-light};
  --zeph-secondary-dark: #{$zeph-secondary-dark};

  --zeph-on-primary: #fff;
  --zeph-on-secondary: #fff;
  
  --zeph-background: #e3e3e3;

  /* text */
  --primary-text-color: var(--zeph-on-primary);
  --secondary-text-color: var(--zeph-on-secondary);
  --disabled-text-color: #bdbdbd;

  /* main interface colors */
  --primary-color: var(--zeph-primary);
  --dark-primary-color: var(--zeph-primary-dark);
  --light-primary-color: var(--zeph-primary-light);
  --accent-color: var(--zeph-secondary);
  --divider-color: rgba(0, 0, 0, .12);

  --scrollbar-thumb-color: rgb(194, 194, 194);

  /* mdc */
  --mdc-theme-primary: var(--zeph-primary);
  --mdc-theme-on-primary: var(--zeph-on-primary);
}

// Default styles - taken from Bootstrap reboot

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

//
// Typography
//

// Remove top margins from headings
//
// By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
// margin for easier control within type scales as it avoids margin collapsing.
// stylelint-disable-next-line selector-list-comma-newline-after
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

// Reset margins on paragraphs
//
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

//
// Links
//

a {
  color: --zeph-primary;
  text-decoration: none;
  background-color: transparent; // Remove the gray background on active links in IE 10.

  :hover {
    color: --zeph-primary-dark;
    text-decoration: underline;
  }
}

// And undo these styles for placeholder links/named anchors (without href).
// It would be more straightforward to just use a[href] in previous block, but that
// causes specificity issues in many other styles that are too complex to fix.
// See https://github.com/twbs/bootstrap/issues/19402

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;

  :hover {
    color: inherit;
    text-decoration: none;
  }
}

//
// Tables
//

table {
  border-collapse: collapse; // Prevent double borders
}

caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: $gray-800;
  text-align: left;
  caption-side: bottom;
}

th {
  // Matches default `<td>` alignment by inheriting from the `<body>`, or the
  // closest parent with a set `text-align`.
  text-align: inherit;
}

//
// Images and content
//

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

// mdc-typography

:host {
  @extend .mdc-typography--body1;
}


h1 {
  @extend .mdc-typography--headline1;
}

h2 {
  @extend .mdc-typography--headline2;
}

h2 {
  @extend .mdc-typography--headline2;
}

h3 {
  @extend .mdc-typography--headline3;
}

h4 {
  @extend .mdc-typography--headline4;
}

h5 {
  @extend .mdc-typography--headline5;
}

h6 {
  @extend .mdc-typography--headline6;
}