@import "bootstrap/variables";
@import "bootstrap/mixins/breakpoints";

// Custom theming and layouts for zephire.nz

$bgDefault      : #a94442;
$bgHighlight    : #722e2d;
$colDefault     : #e3e3e3;
$colHighlight   : #ffffff;

html, body {
  height:100%;
}

@include media-breakpoint-up(sm) {
  .frontpage-item {
    min-height: 70vmin;
  }

  .frontpage-caption {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  #about-blurb {
    border-left: thin dotted $bgHighlight;
  }
}

@include media-breakpoint-down(xs) {
  #about-blurb {
    border-top: thin dotted $bgHighlight;
    margin-top: 0.6rem;
    padding-top: 0.6rem;
  }
}

body {
  padding-top: 100px;
  background-color: $colDefault;
}

.frontpage-item .container {
  padding: 0px;
}

.frontpage-item {
  box-shadow: 0px 0px 20px 5px rgba(50, 50, 50, 0.75);
  position: relative;
  background-color: $bgDefault;
}

.frontpage-divider {
  height: 50px;
}

.item-bg {
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.frontpage-caption {
  text-align: left;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  margin: 15px;
}

.frontpage-title {
  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  display: inline-block;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.frontpage-blurb {
  display: block;
  padding: 10px;
}

#post {
  box-shadow: 0px 0px 20px 5px rgba(50, 50, 50, 0.75);
  margin-bottom: 50px;
  background-color: #fff;
}

#post-header {
  height: 70vmin;
  position: relative;

  background-color: $bgDefault;
  color: $colHighlight;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);

  #post-title {
    bottom: 20px;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    h1 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

#post-content {
  padding: 20px;
}

// Nav Theme
.navbar-custom {
  background-color: $bgDefault;
  border-color: $bgHighlight;

  .navbar-brand {
    color: $colHighlight;
  }

  .navbar-toggler {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight;
    }
  }

  .dropdown.active {
    > a, > a:hover, > a:focus {
      color: $colHighlight;
    }
  }

  .nav-link {
    color: $colDefault;
    &.active, &:hover,  &:focus {
      color: $colHighlight;
    }
  }

  .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
      }
    }
}

// About page
img#about-portrait {
  padding: 10%;
}

a#about-cv {
  color: $colHighlight;
  background-color: $bgDefault;
  border-color: $bgDefault;
  &:hover, &:focus {
    background-color: $bgHighlight;
    border-color: $bgHighlight;
  }
}

// Pager
.page-link {
  color: $bgDefault;
}

.page-item.active .page-link {
  &, &:hover, &:focus {
    color: $colDefault;
    background-color: $bgDefault;
    border-color: $bgDefault;
  }
}

// Projects

#soon-wrench {
  vertical-align: middle;
  font-size: 15em;
  padding-bottom: 15px;
  padding-top: 15px;
}

#soon-text {
  vertical-align: middle;
  text-align: center;
}