/*
Error: Invalid CSS after "---": expected "{", was ""
        on line 4 of site.scss

1: ---
2: ---

Backtrace:
site.scss:4
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:1163:in `expected'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:1099:in `expected'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:1094:in `tok!'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:641:in `block'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:635:in `ruleset'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:660:in `block_child'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:650:in `block_contents'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:117:in `stylesheet'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:42:in `parse'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/engine.rb:393:in `_to_tree'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/engine.rb:285:in `render_with_sourcemap'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `each'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/exec/sass_scss.rb:350:in `watch_or_update'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/exec/sass_scss.rb:50:in `process_result'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/exec/base.rb:52:in `parse'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/lib/sass/exec/base.rb:19:in `parse!'
/home/brynley/.gem/ruby/2.1.0/gems/sass-3.4.5/bin/scss:13:in `<top (required)>'
/home/brynley/.gem/ruby/2.1.0/bin/scss:23:in `load'
/home/brynley/.gem/ruby/2.1.0/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"---\": expected \"{\", was \"\"\A         on line 4 of site.scss\A \A 1: ---\A 2: ---"; }
