<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        {% css main %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="google-site-verification" content="ySJMd_RrR6Mu2xYk8V3yUIKeN_IBzO4sI9wWX6qJ2ws" />

        <title>{% if page.title %}{{ page.title }} | {% endif %}Zeph's Blog</title>
    </head>
    <body>
        {% include nav.html %}
        {{ content }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
        {% js main %}
    </body>
</html>
